<ion-app>
<!-- <div class="outer-layout"> -->
    <!-- Header layout -->
    <ion-header class="header" >
        <ion-title slot="start">On-Shop</ion-title>
        <!--set row-->
            <ion-row class="lists" *ngFor="let items of lists">
                <ion-col  >
                <button ion-button class="ionbutton" (click)="roufun(items)">{{items}}</button>
                </ion-col>
            </ion-row>
      
    </ion-header>  
    <ion-content>
        <ion-router-outlet></ion-router-outlet> 
    </ion-content>




</ion-app>